<% provide(:title, 'Study') %>
<h1>Study</h1>
<ul class="users">
  <%= render @universities %>
</ul>
<div>
  <h1>Information</h1>
  Назва: <%= @current_university.name %><br/>
  Контанкти: <%= @current_university.contact %><br/>
  Ціна: <%= @current_university.price %><br/>
  Кількість студентів: <%= @current_university.students %><br/>
  Адресса: <%= @current_university.address %><br/>
</div>
<h1>Courses</h1>
<ul class="users">
  <%= render @edu_programs %>
</ul>